.bg-none {
    background: none;
}

nav {
    height: 64px;
    border-bottom: 4px solid var(--bs-dark);
}

.nav-link {
    font-size: 1.5rem;
    color: var(--bs-gray) !important;
}

.nav-link.active {
    color: var(--bs-dark) !important;
}

@media (max-width: 575.5px) {
    nav {
        z-index: 0;
        border: none;
        height: 60px;
        margin-bottom: 4px;
    }

    .navbar-content {
        z-index: -1;
        height: 128px;
        display: flex;
        position: absolute;
        top: 60px;
        transition: .35s ease;
        border-bottom: 4px solid var(--bs-dark);
    }

    .navbar-content.hide {
        transform: translateY(-124px);
    }
}

main {
    display: flex;
    height: calc(100vh - 64px);
}

.filter {
    background-color: var(--bs-dark);
    max-width: 384px;
}

@media (max-width: 991.5px) {
    .filter {
        height: calc(100vh - 64px);
        max-width: 100vw;
        position: absolute;
        transition: .35s ease;
    }

    .filter.hide {
        transform: translateX(-100%);
    }

    .filter-btn {
        position: absolute;
        bottom: 48px;
        right: 32px;
        border: none;
        border-radius: 50%;
        padding: 8px;
        background-color: rgba(255, 255, 255, .5);
        color: rgba(0, 0, 0, .5);
    }
}

.filter, .content {
    background-image: url(./images/bgs/bg2.png);
    background-size: 384px;
    background-repeat: repeat;
    background-position: center;
}

.card-body>img {
    width: 20%;
}