.bg-none {
    background: none;
}

nav {
    height: 64px;
    border-bottom: 4px solid var(--bs-dark);
}

.nav-link {
    font-size: 1.5rem;
    color: var(--bs-gray) !important;
}

.nav-link.active {
    color: var(--bs-dark) !important;
}

@media (max-width: 575.5px) {
    nav {
        z-index: 10;
        border: none;
        height: 60px;
        margin-bottom: 4px;
    }

    .navbar-content {
        z-index: -1;
        height: 128px;
        display: flex;
        position: absolute;
        top: 60px;
        transition: .35s ease;
        border-bottom: 4px solid var(--bs-dark);
    }

    .navbar-content.hide {
        transform: translateY(-124px);
    }
}

main {
    display: flex;
    height: calc(100vh - 64px);
}

.filter {
    background-color: var(--bs-dark);
    max-width: 384px;
}

@media (max-width: 991.5px) {
    .filter {
        z-index: 4;
        height: calc(100vh - 64px);
        max-width: 100vw;
        position: absolute;
        transition: .35s ease;
    }

    .filter.hide {
        transform: translateX(-100%);
    }

    .filter-btn {
        z-index: 5;
        position: absolute;
        bottom: 32px;
        right: 24px;
        border: none;
        border-radius: 50%;
        padding: 8px;
        background-color: rgba(150, 150, 150, .7);
        color: rgba(0, 0, 0, .7);
    }
}

.filter,
.content {
    background-image: url(./images/bgs/bg2.png);
    background-size: 384px;
    background-repeat: repeat;
    background-position: center;
}

.card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: calc(100% - 64px);
    background-image: url(./images/bgs/bg1.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.loading-text {
    display: flex;
    justify-content: space-around;
    font-size: 3vw;
    color: rgba(0, 0, 0, .5);
    width: 70%;
    position: relative;
    bottom: 5vw;
    /* top: -5vw; */
}

.loading-text>span {
    width: 5vw;
    text-align: center;
}

.edit-btn {
    z-index: 3;
    position: absolute;
    bottom: 92px;
    right: 24px;
    border: none;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(150, 150, 150, .7);
    color: rgba(0, 0, 0, .7);
}

.confirm-delete-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: calc(100% - 64px);
}

.confirm-delete-alert {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #dc354533;
    width: 90vw;
    max-width: 384px;
    height: fit-content;
    text-align: center;
    padding: 24px 0;
}

.confirm-delete-alert>div>button {
    width: 40%;
}