.bg-none {
    background: none;
}

nav {
    border-bottom: 4px solid var(--bs-dark)
}
.nav-link {
    font-size: 1.5rem;
    color: var(--bs-gray) !important;
}
.nav-link.active {
    color: var(--bs-dark) !important;
}
