@font-face {
  font-family: 'HYWenHei-85W';
  src: url('../public/zh-cn.ttf');
}

body {
  margin: 0;
  font-family: 'HYWenHei-85W' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
